@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --azul_claro: #a5dffd;
  --azul_oscuro: #0e1721;
  --azul_intenso: #4450f8;
  --azul_brillante: #03c4ff;
  --azul_cobalto: #1056d2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
