.home-container {
  position: relative;
  height: 110vh;
  width: 100%;
}

.overlay-cards {
  position: absolute;
  top: 4%;
  z-index: 1;
  width: 100%;
  justify-content: center;
}


.gradient-banner {
  height: 110vh;
  display: flex;
  flex-direction: column;
}

.white-line {
  height: 30%;
  background-color: #ffffff;
}

.gradient-line {
  height: 80%;
  background: linear-gradient(to right, #44b0f8, #1a7af5, #1056d2);
}

.three-card-row {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.card {
  background-color: #0e1721;
  border: 1px;
  border-radius: 12px;
  text-align: center;
  padding: 1.5rem;
  width: 20%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-icon {
  width: 80px;
  height: 80px;
  margin: 0;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.card-description {
  font-size: 0.9rem;
  color: white;
}

.square-info-container {
  display: flex;
  align-items: flex-end;
  gap: 5rem;
  width: 100%;
  position: absolute;
  bottom: 15%;
  z-index: 1;
  justify-content: center;
}

.custom-square {
  background-color: #0e1721;
  border-radius: 8px;
  width: 320px;
  height: 320px;
}

.info-rectangle {
  background-color: #0e1721;
  border-radius: 12px;
  padding: 5rem 8rem;
  width: 60%;
  color: white;
}

.info-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #c5e8f9;
  text-shadow: 0 0 1px #c5e8f9, 0 0 2px #c5e8f9, 0 0 20px #c5e8f9;
}

.info-description {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.intermediate-image {
  position: absolute;
  bottom: -20%;
  left: 17%;
  transform: translateX(-10%) translateY(10%);
  width: auto;
  height: 300px;
  z-index: 2;
}